#demo-notification
  width: 350px
  & > div
    background-color: #303F9E
    color: white
    font-weight: bold
  svg
    color: white

.demo-notification-wrapper
  margin: auto
  text-align: center;
