#demo-notification
  width: auto
  & > div
    background-color: #2095F2
    color: white
    font-weight: bold
  svg
    color: white

.demo-notification-wrapper
    margin: auto
    text-align: center;
    button
      font-weight: bold
      color: #2095F2
      border-color: #2095F2
