.App
  padding-top: 64px;
  max-height: calc(100vh)
  height: calc(100vh)

  @media screen and (max-width: 568px)
    padding-top: 56px;
    max-height: calc(100vh)
    height: calc(100vh)


.content
  padding: 20px

.hidden
  display: none;

.padding-left
  padding-left: 200px
