.App
  padding-top: 64px;
  max-height: calc(100vh)
  height: calc(100vh)

  @media screen and (max-width: 568px)
    padding-top: 56px;
    max-height: calc(100vh)
    height: calc(100vh)

.main
  width 100vw
  height: 100%
  overflow-y: scroll

.content
  max-height: 100%
