sideBarWidth = 230px
navBarHeight = 64px
footerHeight = 57px
contentPadding = 15px 35px 67px 35px
mainDivWidth = 100vw - sideBarWidth


.App
  padding-top: navBarHeight;
  max-height: 100vh
  height: 100vh

  @media screen and (max-width: 568px)
    padding-top: navBarHeight - 8px;
    max-height: 100vh
    height: 100vh

.content
  padding: contentPadding
  line-height: 1.5em;
  width: 100%;
  height: 100%;
  & > div:first-child
    height: 100%


.main
  text-align: center;
  width: 100vw
  height: 100%
  &.margin-left
    width: "calc(100vw - %s)" % sideBarWidth



.hidden
  display: none;

.margin-left
  margin-left: sideBarWidth

@media screen and (max-width: 568px)
  .content
    padding: 0
