.demo-progress
  .example-body
    & > div
        height: 100%
    & > div > div
        height: 100%
        display: flex
        align-items: center
        justify-content: space-evenly
        flex-direction: column;
    & > div > div > div
        width: 100%
