.demo-dialog
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  button
    padding: 10px 30px;


.demo-dialog-content
  padding: 20px

.demo-dialog-title
  padding: 20px
  display: flex
  align-items: center;
  justify-content: space-between;

.demo-dialog-action
  padding: 20px
  text-align: right
