.messageBar
  padding: 15px 10px
  max-width: 350px
  margin: auto
  span
    display: flex;
    align-items: center;
    .message
      margin-left: 10px

.success-message
  background-color: #43A047 !important
.warning-message
  background-color: #FCA000 !important
.error-message
  background-color: #D32F2E !important
.info-message
  background-color: #1876D2 !important
