.paper
  padding: 20px 20px
  text-align: left

.flex-around-center-wrap
  display: flex
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

.demo-charts
  .example-body div
    height: 100%
    display: flex
    justify-content: center;
    align-items: center;

pre
  background-color: #F2F6FA !important
  padding: 15px !important
  overflow: auto !important
