sideBarWidth = 230px

.footer
  position: fixed
  bottom: 0
  width: 100%
  background-color: #fff9c4
  padding: 20px
  border-top: 1px solid #cecece
  &.shorten
    width: "calc(100% - %s)" % sideBarWidth
