sideBarWidth = 230px

.footer
  position: fixed
  bottom: 0
  width: 100%
  background-color: #4DB6AC
  color: white
  padding: 20px
  border-top: 1px solid #cecece

.margin-left
  .footer
    width: "calc(100% - %s)" % sideBarWidth

@media screen and (max-width: 568px)
  .footer
    position: relative;
  .margin-left
    .footer
      width: 100%
