@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #17324d;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  user-select: text;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  line-height: 1;
  background-color: #fbfbfb;
  margin: 0;
}
.strong {
  font-weight: 700;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.25;
}
h1 {
  font-size: 1.5rem;
  color: #0a1f33;
}
h2 {
  font-size: 1.25rem;
  color: #0a1f33;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}
a {
  color: #5c7a99;
  text-decoration: none;
  transition: 0.1s color linear;
}
a:hover {
  color: #005fb2;
}
a:active {
  color: #00396b;
}
.svgwrapper .icon {
  display: inline-block;
}
svg {
  pointer-events: none;
}
iframe {
  border: none;
}
#content {
  max-width: 1500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  justify-content: space-between;
}
#content > div {
  display: flex;
  flex: auto;
  flex-direction: column;
}
#root {
  display: flex;
  justify-content: left;
}
#root.no-margin-left {
  margin-left: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff9c4;
  padding: 20px;
}
.footer.shorten {
  width: calc(100% - 230px);
}
.side-bar {
  height: 100%;
  width: 230px;
  position: fixed;
  overflow-y: auto;
  padding: 15px 0;
  border-right: 1px solid #cecece;
}
.App {
  padding-top: 64px;
  max-height: 100vh;
  height: 100vh;
}
@media screen and (max-width: 568px) {
  .App {
    padding-top: 56px;
    max-height: 100vh;
    height: 100vh;
  }
}
.content {
  padding: 35px;
  line-height: 1.5em;
}
.hidden {
  display: none;
}
.padding-left {
  padding-left: 230px;
}
