@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #17324d;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  user-select: text;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  line-height: 1;
  background-color: #fbfbfb;
  margin: 0;
}
.strong {
  font-weight: 700;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.25;
}
h1 {
  font-size: 1.5rem;
  color: #0a1f33;
}
h2 {
  font-size: 1.25rem;
  color: #0a1f33;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}
a {
  color: #5c7a99;
  text-decoration: none;
  transition: 0.1s color linear;
}
a:hover {
  color: #005fb2;
}
a:active {
  color: #00396b;
}
.svgwrapper .icon {
  display: inline-block;
}
svg {
  pointer-events: none;
}
iframe {
  border: none;
}
#content {
  max-width: 1500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  justify-content: space-between;
}
#content > div {
  display: flex;
  flex: auto;
  flex-direction: column;
}
#root {
  display: flex;
  justify-content: left;
}
#root.no-margin-left {
  margin-left: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4db6ac;
  color: #fff;
  padding: 20px;
  border-top: 1px solid #cecece;
}
.margin-left .footer {
  width: calc(100% - 230px);
}
#icon-popper a {
  color: #000;
}
.not-found-page {
  text-align: center;
}
iframe {
  width: 100%;
  height: -webkit-fill-available;
}
.folder-avatar {
  background-color: #4ac8eb !important;
}
.pageview-avatar {
  background-color: #e91d63 !important;
}
.assignment-avatar {
  background-color: #4caf50 !important;
}
.bg-light-gray {
  background-color: #eee !important;
}
.demo-avatar > div {
  padding: 10px 20px;
}
.demo-avatar > div h4 {
  color: #4b7aa8;
  padding-bottom: 10px;
}
.example-template .demo-body {
  padding: 10px 2px;
}
.example-template .demo-title {
  color: #5c7b98;
}
.example-template .demo-content {
  padding: 10px;
  border: 1px solid #bababa;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.demo-dialog {
  text-align: center;
  margin: auto;
}
.demo-dialog-content {
  padding: 20px;
}
.demo-dialog-title {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.demo-dialog-action {
  padding: 20px;
  text-align: right;
}
.messageBar {
  padding: 15px 10px;
  max-width: 350px;
  margin: auto;
}
.messageBar span {
  display: flex;
  align-items: center;
}
.messageBar span .message {
  margin-left: 10px;
}
.success-message {
  background-color: #43a047 !important;
}
.warning-message {
  background-color: #fca000 !important;
}
.error-message {
  background-color: #d32f2e !important;
}
.info-message {
  background-color: #1876d2 !important;
}
#demo-notification {
  width: auto;
}
#demo-notification > div {
  background-color: #2095f2;
  color: #fff;
  font-weight: bold;
}
#demo-notification svg {
  color: #fff;
}
.demo-notification-wrapper {
  margin: auto;
  text-align: center;
}
.demo-notification-wrapper button {
  font-weight: bold;
  color: #2095f2;
  border-color: #2095f2;
}
.demo-progress .example-body > div {
  height: 100%;
}
.demo-progress .example-body > div > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.demo-progress .example-body > div > div > div {
  width: 100%;
}
.demo-spinner .example-body > div {
  height: 100%;
}
.demo-spinner .example-body > div > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.demo-table {
  overflow-x: scroll;
}
.demo-table thead {
  background-color: #303030;
}
.demo-table thead th {
  color: #fff;
}
.demo-tabs .example-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-page .icon {
  width: 50px;
  height: 50px;
  color: #5c7b98;
}
#dialog-box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 30px;
}
#dialog-box-title svg {
  height: auto;
  width: 1.2em;
  margin-left: 0.6em;
}
.dialog-content {
  padding: 20px;
  text-align: center;
}
.paper {
  padding: 20px 20px;
  text-align: left;
}
.flex-around-center-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.example-template,
.example-template > div:first-child {
  height: 100%;
}
.example-template .app-bar {
  background-color: #fff;
}
.example-template .example-body {
  text-align: left;
  padding: 15px;
  max-height: calc(100% - 58px) !important;
  overflow: auto;
  height: 100%;
}
.example-template .tab {
  padding: 15px;
}
.navbar-root {
  background-color: #4db6ac;
  flex-grow: 1;
}
.navbar-root > header {
  height: inherit;
  background-color: inherit;
}
.navbar-root .grow {
  flex-grow: 1;
}
.navbar-root .typography {
  color: #fff;
  font-weight: bold;
}
.navbar-root .typography a {
  color: inherit !important;
}
.navbar-root svg {
  color: #fff;
}
.side-bar {
  height: calc(100% - 64px);
  width: 230px;
  position: fixed;
  overflow-y: auto;
  padding: 15px 0;
  border-right: 1px solid #cecece;
}
.side-bar .nested {
  padding-left: 15px;
}
.App {
  padding-top: 64px;
  max-height: 100vh;
  height: 100vh;
}
@media screen and (max-width: 568px) {
  .App {
    padding-top: 56px;
    max-height: 100vh;
    height: 100vh;
  }
}
.content {
  padding: 15px 35px 67px 35px;
  line-height: 1.5em;
  width: 100%;
  height: 100%;
}
.content > div:first-child {
  height: 100%;
}
.main {
  text-align: center;
  width: 100vw;
  height: 100%;
}
.main.margin-left {
  width: calc(100vw - 230px);
}
.hidden {
  display: none;
}
.margin-left {
  margin-left: 230px;
}
@media screen and (max-width: 568px) {
  .content {
    padding: 0;
  }
}
