.folder-avatar
  background-color: #4AC8EB !important
  
.pageview-avatar
  background-color: #E91D63 !important

.assignment-avatar
  background-color: #4CAF50 !important

.bg-light-gray
  background-color: #EEEEEE !important

.demo-avatar > div
  padding: 10px 20px
  & h4
    color: #4b7aa8
    padding-bottom: 10px
