.demo-dialog
  text-align: center;
  margin: auto;
  
.demo-dialog-content
  padding: 20px

.demo-dialog-title
  padding: 20px
  display: flex
  align-items: center;
  justify-content: space-between;

.demo-dialog-action
  padding: 20px
  text-align: right
