.example-template
  .demo-body
      padding: 10px 2px
    .demo-title
      color: #5C7B98
    .demo-content
      padding: 10px
      border: 1px solid #bababa
      display: flex
      justify-content: space-around
      flex-wrap: wrap;
