.folder-avatar
  background-color: #4AC8EB !important

.pageview-avatar
  background-color: #E91D63 !important

.assignment-avatar
  background-color: #4CAF50 !important

.bg-light-gray
  background-color: #EEEEEE !important

.purple-bg
  background-color: #e266e2 !important

.orange-bg
  background-color: #F3A90D !important

.yellow-bg
  background-color: #fce80f !important

.teal-bg
  background-color: #b9ea19 !important

.demo-avatar > div
  padding: 10px 20px
  & h4
    color: #4b7aa8
    padding-bottom: 10px
