.demo-tabs
  .example-body
    display: flex
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%
  .example-body-content
    height: 100%
    display: flex
    align-items: center
