iconW = 50px
iconH = iconW

.icon-page
  .icon
    width: iconW
    height: iconH
    color: #5C7B98

#dialog-box-title
  display: flex
  align-items: center
  justify-content: center
  font-size: 1.2em
  font-weight: bold
  padding: 30px
  svg
    height: auto
    width: 1.2em
    margin-left: .6em

.dialog-content
  padding: 20px
  text-align: center;
